[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gdal = "*"
numpy = "*"
pytk = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
